/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px)
{
     * {
       margin:0px;
       padding:0px;
     }

     .welcome_header
     {
          display: block;
          width: 400px;
          padding: 2em;
          box-sizing: border-box;
          margin: auto;
     }

     .main_box
     {
          display: block;
          width: auto;
          height: 55em auto;
          border: 3px solid #40414a;
          box-sizing: border-box;
          margin: auto;
     }
     .playground_box
     {
          display: block;
          width: auto;
          height: 55em auto;
          border: 3px solid #40414a;
          box-sizing: border-box;
          margin: auto;
     }

     .icons
     {
          width: 400px;
          margin: auto;
     }

     body { font: 15px Monaco,"Source Code Pro",monospace }
     h1 { font: 30px Monaco,"Arial",monospace; font-weight: 1000;}
     li a{font-size: 10px;}


     .button1
     {
          font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
     }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /*Insert your tablet CSS in here!
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    /*Insert your mobile CSS in here!*/
}
