/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px)
{
     * {
       margin:0px;
       padding:0px;
     }

     .welcome_header
     {
          display: block;
          width: auto;
          padding: 5em;
          box-sizing: border-box;
          margin: auto;
     }

     .main_box
     {
          display: block;
          width: auto;
          height: 55em auto;
          border: 3px solid #40414a;
          box-sizing: border-box;
          margin: auto;
     }

     p { font: 15px Monaco,"Source Code Pro",monospace }
     h1 { font: 20px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace; font-weight: bold;}

     #mainPicture {
          display: block;
          margin: auto;
          height: 800px ;
          width: 480px auto;
     }
     #icons {
          display:block;
          margin: 15px;
          width: 30px;
          height: 30px;
     }

     #PGscreen2
     {
          id="mainPlayground";
          display: none;
          width: 100%;
          background-color: #6283a8;
          transition: all 5s ease-in;
     }

     .button1
     {
          display: inline-block;
          margin: 30px auto;
          font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
     }
     .button1:hover
     {
          display: inline-block;
          margin: 30px auto;
          font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;

     }

     textBackground {
          height: 1000px auto;
          width: 480px auto;
     }

     headerBackground {
          height: 1000px auto;
          width: 480px auto;
     }

     header_font {
       width: 400px;
       margin: auto;
       font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
     }
     mainFontGreen {
       width: 400px;
       margin: auto;
       font: 25px Monaco,"Source Code Pro",monospace;
     }
     mainFontWhite {
       width: 400px;
       margin: auto;
       font: 20px Monaco,"Source Code Pro",monospace;
     }
     mainFontWhiteT{
       width: 400px;
       margin: auto;
       font: 20px Monaco,"Source Code Pro",monospace;
       opacity: 0;
     }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /*Insert your tablet CSS in here!
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    /*Insert your mobile CSS in here!*/
}
