* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:450px;
  margin: 50px auto;
}

section0 {
     background-image: url(images/mountain_light.png);
     background-size: cover;
     background-attachment: fixed;
     display: block;
     margin: auto;
     height: 1080px ;
}

section1 {
     display: block;
     background-color: #d9cd82;
     height: 1000px auto;
}

section2 {
     display: block;
     background-color: #e8a9a9;
     height: 1000px auto;
}

p {
  display: block;
  width: 600px;
  margin: 50px auto;
  font: 35px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: #134514;
}
px50{ display: block; height: 1px}

p1 {
  display: block;
  width: 600px;
  margin: 30px auto;
  font: 50px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: white;
}
p2 {
  display: block;
  width: 1000px;
  margin: 30px auto;
  font: 25px Monaco,"Source Code Pro",monospace;
  color: #614739;
}



/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
     * {
       margin:0px;
       padding:0px;
     }

     #octocat {
       display: block;
       width:450px;
       margin: 50px auto;
     }

     section0 {
          background-image: url(images/mountain_light.png);
          background-size: cover;
          background-attachment: fixed;
          background-position: center;
          display: block;
          margin: auto;
          height: 500px ;
     }

     section1 {
          display: block;
          background-color: #d9cd82;
          height: 1000px auto;
          width: 480px auto;
     }

     section2 {
          display: block;
          background-color: #e8a9a9;
          height: 1000px auto;
          width: 480px auto;
     }

     p {
       display: block;
       width: 480px;
       margin: 50px auto;
       font: 35px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
       color: #134514;
     }
     px50{ display: block; height: 1px}

     p1 {
       display: block;
       width: 480px auto;
       margin: 15px ;
       font: 40px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
       color: white;
     }
     p2 {
       display: block;
       width: 480px;
       margin: 30px auto;
       font: 15px Monaco,"Source Code Pro",monospace;
       color: #614739;
     }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /*Insert your tablet CSS in here!
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    /*Insert your mobile CSS in here!*/
}
