* {
  margin:0px;
  padding:0px;
}

/* BOXES */
.navbar
{
     display: block;
     width: auto;
     height: auto;
}
.welcome_header
{
     display: block;
     width: 750px;
     padding: 7em;
     box-sizing: border-box;
     margin: auto;
}

.main_box
{
     display: block;
     width: 750px;
     height: 55em auto;
     border: 3px solid #40414a;
     box-sizing: border-box;
     margin: auto;
}

.subtitles
{
     background-color: #181818;
     box-sizing: border-box;
     width: 100%;
     height: auto;
     padding: 1em;
     border-bottom: 5px solid #2b5c32;
}
.text
{
     display: inline-block;
     background-color: #2b2b2b;
     box-sizing: border-box;
     width: 100%;
     height: auto;
     padding: 2em;
}

.icons
{
     display: block;
     width: 500px;
     margin: auto;
}

/* --------------------------- */
.lightdark
{
     height: 100%;
      padding: 1px;
      
     /* position: absolute; */
     /* top: 2em; */
      left: 20px;
     /* background: none; */
     float: right;
     opacity: 50%;
     cursor: pointer;
     border-radius: 50%;
     box-sizing: border-box;
}
.lightdark:hover
{
     border: 2px solid #64c872;
     opacity: 100%;
}

.icon {
     display: inline-block;
     margin: 15px;
<<<<<<< HEAD
     height: 50px;
=======
     height: 3em;
>>>>>>> 6d5bc583f2069f556d253377b11487bda7c944b7
     border-radius: 50%;
     border: 5px solid #64c872;
     background-color: white;
     opacity: 70%;
     width: auto;
}

.icon:hover {
     opacity: 100%;
<<<<<<< HEAD
     height: 3.2em;
=======
     height: 3.5em;
>>>>>>> 6d5bc583f2069f556d253377b11487bda7c944b7
     border: 5px solid #36e64f;
}
/* collapsible */

.content {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-height: 0;
}

.collapsible {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border: none;
  text-align: left;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  padding: 1em;
  height: auto;
}

.collapsible.normal
{
     color: #92c6d9;
     background-color: #2b2b2b;
     border-bottom: 5px solid #597683;
}
.collapsible.medium
{
     color: #00ff44;
     background-color: #181818;
     border-bottom: 5px solid #2b5c32;
     font: 20px Monaco,"Source Code Pro",monospace;
}

.active, .collapsible:hover {
  background-color: #4c5060;
}

.collapsible:after {
  content: '\25be';
  font-size: 1em;
  float: right;
<<<<<<< HEAD
}

.active:after {
  content: "\25b4";
}
=======
}

.active:after {
  content: "\25b4";
}
>>>>>>> 6d5bc583f2069f556d253377b11487bda7c944b7
/* ------------------------- */

/* SCREENS */

#profile_picture
{
     display: block;
     width:30%;
     border: 3px solid #565b7d;
     border-radius: 50%;
     box-sizing: border-box;
     padding: 0.5em;
     margin-left: auto;
     margin-right: auto;
}

#mainPlayground{
     id="mainPlayground";
     display: block;
     height: 100%;
     width: 100%;
     background-color: black;
}

#PGscreen2
{
     id="mainPlayground";
     display: none;
     height: 100%;
     width: 100%;
     background-color: #6283a8;
     transition: all 5s ease-in;
}
#boomscreen
{
     background-image: url(images/bomb.jpg);
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     display: none;
     height: 100%;
}

/* -------------------------------- */


/* Navabar */

ul
{
  list-style-type: none;
  overflow: hidden;
  /* margin: auto; */
  padding: 0;
  /* overflow: hidden; */
  background-color: #292b29;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 5px solid #2b5c32;
}

li
{
  float: left;
}

li a
{
  font: 15px Monaco,"Source Code Pro",monospace;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #5f8569;
}

a.active {
  background-color: #36c93c;
}

/* ------------------ */

/* STANDART STUFF */

html
{
     scroll-behavior: smooth;
     background-color: #1c3c29;
     background-image: url(images/green_dark.png);
     background-size: cover;
     background-attachment: fixed;
     backface-visibility: visible;
     font: 16px Monaco,"Source Code Pro",monospace;
     color:#e6edea;
}

h1
{
     font: 40px Monaco,"Source Code Pro",monospace;
     /* background: -webkit-linear-gradient(#a4ffaf, #7ea6ff);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: bold; */
}

h2
{
     font: 20px Monaco,"Source Code Pro",monospace;
}

a:link {
  color: #a3e3f0;
  background-color: transparent;

}
a:visited {
  color: #dfc3ff;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: #33f157;
  text-decoration: underline;
}

mark.green
{
     color:#00ff44;
     background: none;
}
mark.red
{
     color:#e9773f;
     background: none;
}
mark.l_orange
{
     color:#ffad85;
     background: none;
}

mark.l_pink
{
     color:#dc90de;
     background: none;
}
mark.white
{
     color:#e6edea;
     background: none;
}

/* -------------------------------- */

/*TODO BUTTON CHECK NEEDED FOR PROJECT */

.button1
{
     background: none;
     border: none;
     display: inline-block;
     cursor: pointer;
     margin: 30px auto;
     color: #00fe29;
}

.button1:hover
{
     color: #65e6f7;
}
.button2
{
     background-color: linear-gradient(90deg, #7da0db, #00ff44);
     background-clip: text;
     color: transparent;
     font: 25px Monaco,"Source Code Pro",monospace;
     font-weight: bold;
     cursor: pointer;
     width: 100%;
     height: 100%;
     border: none;
}
.button2:hover
{
     color: red;
}
#button3
{
     background-color: linear-gradient(90deg, #7da0db, #00ff44);
     background-clip: text;
     color: transparent;
     font: 25px Monaco,"Source Code Pro",monospace;
     font-weight: bold;
     cursor: pointer;
     width: 100%;
     height: 100%;
     border: none;
}
.button4 {
     align-self: center;
     background-color: transparent 100%;
     height: auto;
     width: auto;
     color: #48567e;
     font: 25px Monaco,"Source Code Pro",monospace;

}

.button5 {
     /* align-self: center; */
     display:contents;
     background-color: transparent 100%;
     height: 100%;
     width: 100%;
     cursor: pointer;
}

/* -------------------------------- */


/* ANIMATION FOR DO_NOT_CLICK */

.fade-in-text {
  display: block;
  animation: fadeIn linear 3s ;
     -webkit-animation: fadeIn linear 3s;
     -moz-animation: fadeIn linear 2s;
     -o-animation: fadeIn linear 2s;
     -ms-animation: fadeIn linear 2s;
     animation-fill-mode: forwards;
}
.fade-in-text2 {
  display: block;
  animation: fadeIn linear 3s ;
     -webkit-animation: fadeIn linear 3s;
     -moz-animation: fadeIn linear 3s;
     -o-animation: fadeIn linear 3s;
     -ms-animation: fadeIn linear 3s;
     animation-fill-mode: forwards;
     animation-delay: 2s;
}
.fade-in-text3 {
  display: block;
  animation: fadeIn linear 3s ;
     -webkit-animation: fadeIn linear 3s;
     -moz-animation: fadeIn linear 3s;
     -o-animation: fadeIn linear 3s;
     -ms-animation: fadeIn linear 3s;
     animation-fill-mode: forwards;
     animation-delay: 4s;
}
.fade-in-text4 {
  display: block;
  animation: fadeIn linear 3s ;
     -webkit-animation: fadeIn linear 3s;
     -moz-animation: fadeIn linear 3s;
     -o-animation: fadeIn linear 3s;
     -ms-animation: fadeIn linear 3s;
     animation-fill-mode: forwards;
     animation-delay: 6s;
}
.fade-in-text5 {
  display: block;
  animation: fadeIn linear 3s ;
     -webkit-animation: fadeIn linear 3s;
     -moz-animation: fadeIn linear 3s;
     -o-animation: fadeIn linear 3s;
     -ms-animation: fadeIn linear 3s;
     animation-fill-mode: forwards;
     animation-delay: 8s;
}
.fade-in-button {
  display: block;
  animation: fadeIn linear 3s ;
     -webkit-animation: fadeIn linear 3s;
     -moz-animation: fadeIn linear 3s;
     -o-animation: fadeIn linear 3s;
     -ms-animation: fadeIn linear 3s;
     animation-fill-mode: forwards;
     animation-delay: 10s;
     opacity: 0;
     height: auto;
     width: auto;
     color: #48567e;
     font: 25px Monaco,"Source Code Pro",monospace;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* -------------------------------- */

*/
