* {
  margin:0px;
  padding:0px;
  font: "Source Code Pro";
}

@font-face {
  font-family: source1;
  src: url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);
}

/* STANDART STUFF */

#transparent_font
{
     font: 20px Monaco,"Source Code Pro",monospace;
     opacity: 0%;
}

body
{
     display: grid;
     place-content: center;
     scroll-behavior: smooth;
     text-rendering: optimizeSpeed;
     line-height: 1.5;
     background-color: #2d313a;
     font-family: source1;
     font: 18px Monaco,"Source Code Pro",monospace;
     color:#e6edea;

}

h1
{
     font: 60px Monaco,"Arial",monospace;
     font-weight: 1000;
}

h2
{
     font: 20px Monaco,"Source Code Pro",monospace;
}

a:link {
  color: #a3e3f0;
  background-color: transparent;

}
a:visited {
  color: #dfc3ff;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: #33f157;
  text-decoration: underline;
}

mark.green
{
     color:#51e779;
     background: none;
}
mark.red
{
     color:#d35752;
     background: none;
}
mark.l_orange
{
     color:#f0976b;
     background: none;
}

mark.l_pink
{
     color:#f18cf5;
     background: none;
}
mark.white
{
     color:#e6edea;
     background: none;
}
mark.grey
{
     color:#b3beba;
     background: none;
}

/* -------------------------------- */

/* BOXES */

/* TODO add to mobile */

.main_box
{
     display: block;
     width: 100%;
     height: 55em auto;
     border: 3px solid #40414a;
     box-sizing: border-box;
     margin: auto;
     background-color: #313d44;
}

.flex {
     display: flex;
     gap: var(--gap, 1rem);
   }

.subtitles
{
     background-color: #3d4650;
     box-sizing: border-box;
     width: 100%;
     height: auto;
     padding: 1em;
     /* border-bottom: 5px solid #2b5c32; */
}

.testimonial-grid {
     display: grid;
     gap: 1.5rem;
     grid-template-columns: repeat(2, 1fr);
     padding-block: 2rem;
     width: min(95%, 70rem); 
     grid-template-areas:
          'one'
          'two'
          'three'
          'four'
          'five';
     margin-inline: auto;
}    
.testimonial {
     font-size: var(--fs-400);
     /* padding: 2rem; */
     /* border-radius: 0.5rem; */
     box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
   }
.testimonial :last-child {
     grid-column: 4;
}
.testimonial :nth-child(1) {
     grid-area: one;
   }
.testimonial :nth-child(2) {
     grid-area: two;
   }
.testimonial :nth-child(3) {
     grid-area: three;
   }
.testimonial :nth-child(4) {
     grid-area: four;
   }
.testimonial :nth-child(5) {
     grid-area: five;
   }


.grid-col-span-2 
{
     grid-column: span 2; 
}
.grid-col-span-3 
{
     grid-column: span 3; 
}

.text
{
     display: inline-block;
     box-sizing: border-box;
     width: 100%;
     height: auto;
     padding: 1em;
     /* border-bottom: 5px solid #2b5c32; */
     line-height: 1.5;
}

.text2
{
     display: inline-block;
     width: 50%;
     height: auto;
     padding: 2em;
     box-sizing: border-box;
     /* float: right; */
     line-height: 1.5;
}



/* --------------------------- */


/* SCREENS */

#profile_picture
{
     display: block;
     width:10rem;
     border: 3px solid #565b7d;
     border-radius: 50%;
     box-sizing: border-box;
     padding: 0.5em;
     margin-left: auto;
     margin-right: auto;
}

/* -------------------------------- */