* {
  margin:0px;
  padding:0px;
  border: none;
}
body
{
     background-color: rgb(65, 34, 34);
     display: flex;
}
.svg_box
{
     display: auto;
     width: 40em;
     min-height: 60em;
     height: auto;
     background-color: #d40000;
     background-image: url(svg/dark_red.svg);
     background-repeat: no-repeat;
     backface-visibility: visible;
}
.main_box
{
     flex: auto ;
     width: 50%;
     height: auto;
     background-color: #612525;
}
h1
{
     font-size: 4em;
     padding: 1em;
     color: #612525;
}
h2{
     font-size: 3em;
     padding: 1em;
     color: #ff0000;
}
.text
{
     background-color: #ff0000;
}

@media only screen and (max-width: 767px)
{
     body
     {
          display: block;
     }
     .svg_box
     {
          width: auto;
          /* min-height: 40em; */
          height: auto;
          display: block;
          height: 300px;

     }
     .main_box
     {
          display: block;
          width: auto;
          height: auto;
          background-color: #612525;
     }
     h1
     {
          font-size: 3em;
          padding: 1em;
          color: #612525;
     }
     h2{
          font-size: 2em;
          padding: 1em;
          color: #ff0000;
     }
}
